@font-face {
  font-family: MillerBanner;
  src: url(./fonts/MillerBanner-Light.otf);
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
select {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #202020;
}

a {
  text-decoration: none;
  color: #202020;
}

p {
  margin: 0;
}

h1,
h2 {
  font-family: "MillerBanner", "serif";
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

select {
  border: none;
  outline: none;
  background: transparent;
}
